<div class="container p-5">
    <div class="row">
      <div
        class="col-6 border border-light rounded p-5 shadow"
        *ngIf="formulario"
      >
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label>ID</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="id"
            />
          </div>
          <div class="form-group">
            <label>Filtro</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="nome"
            />
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="pl-1">
                <button
                  type="button"
                  (click)="excluir()"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Excluir
                </button>
              </div>
              <div class="pl-1">
                <button
                  type="button"
                  (click)="alterar()"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Alterar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="container">
      <table>
        <tr>
          <th>ID</th>
          <th>Nome</th>
        </tr>
        <tr *ngFor="let x of filtros">
          <td>{{ x.id }}</td>
          <td>{{ x.nome }}</td>
        </tr>
      </table>
    </div>
  </div>
